BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
ColumnLimit: 110
UseTab: Never
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
AlignOperands: Align
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
SpaceAfterTemplateKeyword: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
PackConstructorInitializers: Never
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
SortIncludes: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
LambdaBodyIndentation: Signature
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
FixNamespaceComments: true
CompactNamespaces: false
